.container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 0 5rem;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 100px 1fr auto;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "footer footer";
  width: 100vw;
}

.header {
  grid-area: header;
  padding: 2rem 0;
  text-align: center;
  /* grid-column: 1 / span 2; 
  grid-row: 1; */
}

.main {
  grid-area: main;
  padding: 1rem 0.5rem;
  /* grid-column: 2; grid-row: 2;  */
}

.sidebar {
  grid-area: sidebar;
  padding: 1rem;
  /* grid-column: 1;grid-row: 2;  */
}

.footer {
  grid-area: footer;
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid #eaeaea;
  /* grid-column: 1 / span 2; grid-row: 3;  */
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0.4rem 0;
  line-height: 1.15;
  font-size: 3.5rem;
}

.body {
  margin-top: 1rem;
  line-height: 1.5;
  font-size: 1.3rem;
}
.author {
  font-size: 0.95rem;
  font-weight: 600;
  color: #565353;
}

.card {
  margin: 1rem 0;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

.link {
  font-size: 1.3rem;
  color: #0070f3;
  text-decoration: underline;
}

.form {
  width: 100%;
  margin-top: 1rem;
}

.formRow {
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formRow .formLabel {
  font-weight: 500;
  font-size: 1rem;
}

.formRow .formInput {
  padding: 0.5rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
}

.btn {
  padding: 0.5rem;
  width: auto;
  font-size: 1rem;
  font-weight: 600;
  background-color: #0070f3;
  color: white;
  outline: none;
  border: #0070f3;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
